header{
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
.navbar{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .navLink{
    color:black;
    margin-left: 20px;
    position: relative;
}

.navbar .navLink::after{
    content: '';
    width: 0%;
    height: 3px;
    background-color: rgb(113, 122, 13);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -5px;
    border-radius: 10px;
    transition: 0.5s d;
    
}
.navbar .navLink:hover::after{
    width: 100%;
}

.navbar .active::after{
    width: 100%;
}